nav{
    background-color: #D00000;
    .img-responsive {
      width: auto;
      height: 50px;
    }
    a, span{
        color: white !important;
    }
}

header{
    height: auto;
    .container{
        .row{
            .jumbotron{
                vertical-align: center;
                background: none;
                h1{
                    color: rgba( #F00, .7);
                }
                .lead{
                    p{
                    color: rgba( #F00, 1);
                    }
                }
                p{
                    span{
                        font-size: 24px;
                        color: rgba( #F00, 1);
                    }
                }
            }
        }
    }
}



.services{
    /*height: 1480px;*/
    padding: 100px 0;
    width: 100%;

    .services-header{
        display: flex;
        position: relative;
        top: -100px;
        height: 220px;
        background-color: #e9204f;
        color: #FFF;
        width: 100%;
        padding: 60px 80px;
        border-radius: 4px;
        h1{
            flex-basis: 50%;
            font-size: 40px;
            text-transform: capitalize;
        }
        .get-started {
            flex-basis: 50%;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            div {
                text-align: center;
                height: fit-content;
                padding: 18px 43px;
                outline: 2px solid #e9204f;
                border: 2px solid #fff;
                font-size: 18px;
                font-weight: bold;
                font-family: Arial, Helvetica, sans-serif;
                color: #e9204f;
                background-color: #FFF;
                border-radius: 2px;
            }
        }
    }

    .services-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 100%;

        h1{
            font-size: 48px;
            margin-bottom: 20px;
            font-family: Arial, Helvetica, sans-serif;
            color: #000 !important;
        }

        .services-list{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            flex-wrap: wrap;

            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 420px;
                padding: 5% 40px;
                color: #000;
                background-color: none;
                transition: background-color .5s ease, color .5s ease;
                i{
                    margin-bottom: 50px;
                }
                section{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    transform: translateY(0);
                    transition: transform .5s ease;
                    /*animation: moveOut .5s ease forwards;*/
                }
                h3{
                    font-size: 22px;
                    font-family: Arial, Helvetica, sans-serif;
                    color: #000 !important;
                }
                p{
                    color: #101010;
                    margin-bottom: 30px;
                    font-size: 16px;
                    line-height: 26px;
                    margin: 20px 0;
                    font-family: "Roboto", Sans-serif;
                    a{
                      color: #F00;
                    }
                }
                
                @media (min-width: 992px){
                  &:nth-of-type(1), &:nth-of-type(4), &:nth-of-type(5){
                    background-color: #f3f3f3;
                    section i{
                        color: #f3f3f3;
                    }
                  }
                }
                @media (max-width: 991px){
                  &:nth-of-type(2n+1){
                    background-color: #f3f3f3;
                    section i{
                        color: #f3f3f3;
                    }
                  }
                }
                &:hover{
                    background-color: #e9204f ;
                    color: #fff !important;
                    transition: all .5s ease;
                    p, h3, i{
                        color: #fff !important;
                        transition: all .5s ease;
                    }
                    p{
                      a{
                        color: #F0F;
                      }
                    }
                    section{
                        /*animation: moveIn .5s ease forwards;*/
                        color: #fff !important;
                        transform: translateY(-20px);
                        transition: all .5 ease;
                    }
                }
            }
        }
    }
}


.services .services-body > p{
    color: #747474;
    width: 50%;
    text-align: center;
    line-height: 27px;
    font-size: 16px;
    font-family: "Roboto", Sans-serif;
    margin-bottom: 100px;
}

.anchor{
    text-decoration: none;
    color: #FFF;
}

.services-big-font-size{
    color: #e9204f;
    font-size: 60px;
}

.services-small-font-size{
    color: #fff;
    font-size: 20px;
}

$main-color: #255d50;

.register-payment{
  h1{
    span{
        font-size: 36px;
        color: rgba( #F00, 1);
    }
  }
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
 .StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.div-payment-form .mastercard-img, .div-payment-form .visa-img {
  width: 65px;
  height: 40px;
}


.testimonial-carousel .testimonial {
  margin-right: 23%;
  margin-left: 23%;
}

.testimonial{
  h6{
    color: #90949c;
    span{
      color: #4267b2;
    }
  }
}

.testimonial-carousel .carousel-control.left::before {
  content: "\2039";
}
.testimonial-carousel .carousel-control::before {
  font-size: 5rem;
  color: rgba(0,0,0,0.6);
  -webkit-transition: .4s;
  transition: .4s;
}

.testimonial-carousel .carousel-control.right::before {
  content: "\203a";
}
.testimonial-carousel .carousel-control:hover::before {
  color: #000;
  -webkit-transition: .4s;
  transition: .4s;
}
.testimonial-carousel .carousel-control::before {
  font-size: 5rem;
  color: rgba(0,0,0,0.6);
  -webkit-transition: .4s;
  transition: .4s;
}

/* start footer */

footer.page-footer {
  bottom: 0;
  color: #fff;
  font-family: Ubuntu,sans-serif;
  a {
    color: #fff;
  }
  p {
    padding: 0;
    margin: 0;
  }
  img{
    height: 84px;
  }
}
.red-theme-dark {
  background-color: #940012!important;
  hr {
    background-color: #6d000d!important;
    margin: 10px 0!important;
    border-bottom: .5px solid #bf0017;
    height: .5px;
  }
}

span.ItemText {
  color: #fff;
  font-size: 12px;
}

/* end footer */